<nav class="navbar navbar-expand-lg navbar-dark bg-dark custom-navbar">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#">
      Vinicius Roque
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Alternar navegação">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#about">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experience">Experiência</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Projetos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#contact">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
